<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>生成二维码</title>
<script src="http://cdn.staticfile.org/jquery/2.1.0/jquery.js"></script>
<link href="http://cdn.staticfile.org/twitter-bootstrap/3.1.0/css/bootstrap.css" rel="stylesheet" />
<script src="http://cdn.staticfile.org/twitter-bootstrap/3.1.0/js/bootstrap.js"></script>
<script src="http://cdn.staticfile.org/angular.js/1.2.0rc3/angular.js"></script>
<style>
h2 {
	text-align: center;
}
</style>
</head>
<body>
<div ng-app class="container">
	<h2>二维码生成工具</h2>
	<form action="/qrcode.png" method="get">
		<div class="form-group">
			<label>内容</label>
			<textarea ng-model="content" name="content" placeholder="二维码保存的内容" class="col-sm-10 form-control" required></textarea>
		</div>
		<div class="form-group">
			<label>Logo</label>
			<input type="text" ng-model="logo" name="logo" placeholder="Logo 图片的 URL 地址" class="form-control"/>
		</div>
		<div class="form-group">
			<label>大小</label>
			<input type="number" ng-model="size" name="size" placeholder="图片大小，默认 500px" class="form-control" />
		</div>
	</form>
	<div>
		<img ng-src="/qrcode.png?content={{content}}&size={{size}}&logo={{logo}}"/>
	</div>
</div>
</body>
</html>
